.container {
    background-color: rgb(51, 50, 65);
}

.container .title {
    color: rgb(227, 150, 162);
}

.container .color {
    color: rgb(255, 0, 170); /* Replace 'blue' with your desired color */
}