@import url("https://fonts.googleapis.com/css?family=Inter");

.topnav {
    overflow: hidden;
    background-color: #201f2e;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000033;
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
}
  
.topnav a {
    float: left;
    color: #f7ffcc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #688199;
    color: #201f2e;
}
  
.topnav a.active {
    background-color: #ffc2c2;
    color: #201f2e;
}