body {
    background-color: rgb(40, 40, 47);
    overflow: hidden;
}

.view-container {
    position: relative;
    height: 100vh;
}

.box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 1250px;
    padding: 0%;
    
}
    
.hover-box {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
    background-color: rgba(195, 195, 195, 0.123);
    margin: 50px;
    border: 3px solid #b7b5c8ae;
    padding: 25px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-box h1 {
    text-align: center;
    line-height: 1;
    color: #b7b5c8ae;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 100px;
}


